head
    title #{title}
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
  nav
    ul
      li
        a(href='/') Main
      li
        a(href='/books/all?offset=0&order=title') Books
      li
        a(href='/patrons/all?offset=0&order=name&search=%') Patrons
      li
        a(href='/loans/all?offset=0&order=title&search=%') Loans