p
      span.inline-option Order by:   
      a.inline-option(class=pagination.order ==  "title" ? "selected" : "" href='?offset=0&order=title') Title
      |  
      a.inline-option(class=pagination.order ==  "author" ? "selected" : "" href='?offset=0&order=author') Author
      |  
      a.inline-option(class=pagination.order ==  "genre" ? "selected" : "" href='?offset=0&order=genre') Genre