p
      span.inline-option Order by:   
      a.inline-option(class=pagination.order ==  "name" ? "selected" : "" href='?offset=0&order=name') Name
      |  
      a.inline-option(class=pagination.order ==  "address" ? "selected" : "" href='?offset=0&order=address') Address
      |  
      a.inline-option(class=pagination.order ==  "email" ? "selected" : "" href='?offset=0&order=email') Email
      |  
      a.inline-option(class=pagination.order ==  "library_id" ? "selected" : "" href='?offset=0&order=library_id') Library ID