doctype 
head
    link(rel='stylesheet', href='../stylesheets/style.css')
html
  
  body.not-found
    .not-found-container
        nav.not-found-nav
            ul
                li
                    a(href='/') Main
                li
                    a(href='/books/all?offset=0&order=title') Books
                li
                    a(href='/patrons/all?offset=0&order=name&search=%') Patrons
                li
                    a(href='/loans/all?offset=0&order=title&search=%') Loans
        div
            h1 So sorry, but what you are looking for can no longer be found.
                | It may be lost among the stacks.


        









        